* {
  /* 브라우저 기본 값 리셋 */
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: monospace, cursive;
  color: black;
}

img {
  height: 95vh;
  width: 50%;
  position: absolute;
}

body {
  display: flex;
  justify-content: center; /* 브라우저 화면 가운데 Y축에 놓아줌 */
  align-items: center; /* 브라우저 화면 가운데 X축에 놓아줌 */
  height: 100vh; /* 화면에 나타낼 전체 옵젝 크기를 제한 */
  background: url("./img/kirby.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calculator_display {
  justify-content: center;
  text-align: end;
  color: white;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  flex: 25 0 0;
  margin-right: 2vw;
  margin-top: -2vh;
  margin-bottom: 3vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 숫자열이 column 방향일 때, 흩어지게 배치 */
  align-items: center;
  flex: 75 0 0;
  margin-top: -1vh;
}

.numberline5,
.numberline4,
.numberline3,
.numberline2,
.numberline1 {
  display: flex;
  margin-top: -1vw; /* 브라우저 Y축이 줄었을 때, 글자 이탈 방지 */
}

.calculator {
  width: 30vw;
  height: 80vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn0,
.btn-dot,
.btn-plus,
.btn-minus,
.btn-star,
.btn-slash,
.btn-plus-minus,
.btn-per,
.btn-plus-minus,
.btn-result,
.btn-erase {
  background-color: rgba(250, 217, 222, 0.8);
  width: 7vw;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 3vw;
  font-weight: bold;
  cursor: pointer;
  margin: 2%;
  border: solid 1px;
}

.btn-erase,
.btn-plus-minus,
.btn-per {
  color: red;
}

@media screen and (max-width: 575px) {
  img {
    height: 50vh;
    width: 70%;
    position: absolute;
  }
  .calculator {
    width: 30vw;
    height: 45vh;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .calculator_display {
    margin-right: 0vw;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -20vh;
    margin-bottom: 20vh;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4,
  .btn5,
  .btn6,
  .btn7,
  .btn8,
  .btn9,
  .btn0,
  .btn-dot,
  .btn-plus,
  .btn-minus,
  .btn-star,
  .btn-slash,
  .btn-plus-minus,
  .btn-per,
  .btn-plus-minus,
  .btn-result,
  .btn-erase {
    width: 12vw;
    height: 4vh;
  }
}
